services:
  qiskit-aer:
    build:
      context: .
    runtime: nvidia
    ports:
      - "8888:8888"
    volumes:
      - ./workspace:/workspace
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
